body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* navbar */
.navbar {
  background-color: #073763ff;
}

.navbar {
  padding-top: 0.2rem;   
  padding-bottom: 0.3rem; 
}


.navbar-brand img {
  height: 30px;  
  width: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.Opciones .nav-link {
  color: white;                  
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  position: relative;
  padding-bottom: 5px;
}
.icon{
  margin-right: 8px; 
  vertical-align: middle; 
}





/* botones login */
.btn-iniciar {
  background-color: #4472c4ff; 
  color: white;
  border: none;
  font-weight: bold;
}

.btn-iniciar:hover{
  background-color: rgb(87, 147, 249); 
  color: white;

}

.btn-registrar {
  background-color: #70ad47ff; 
  color: white;
  border: none;
  font-weight: bold;
}

.btn-registrar:hover {
  background-color: rgb(135, 202, 89); 
  color: white;

}

.carousel {
  margin-top: 0px; 
}
.carousel-item img {
  height: calc(100vh - 70px);  /* locura el css */
  width: 100%;
  object-fit: cover;          
}