  body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* navbar */
  .navbar {
    background-color: #073763ff;
  }

  .navbar {
    padding-top: 0.2rem;   
    padding-bottom: 0.3rem; 
    
  }


.navbar-brand img {
  height: 30px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
  .Opciones .nav {
    margin-bottom: 0; /* elimina margen inferior */
  }
  
.nav-link {
  color: white !important;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}
.Opciones .nav-link {
  color: white;
  font-weight: 600;
  font-size: 150px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}
  .icon{
    margin-right: 8px; 
    vertical-align: middle; 
  }


.logo-img {
  height: 30px;
  width: auto;
}


  /* botones login */
  .btn-iniciar {
    background-color: #4472c4ff; 
    color: white;
    border: none;
    font-weight: bold;
  }

  .btn-iniciar:hover{
    background-color: rgb(87, 147, 249); 
    color: white;

  }

  .btn-registrar {
    background-color: #70ad47ff; 
    color: white;
    border: none;
    font-weight: bold;
  }

  .btn-registrar:hover {
    background-color: rgb(135, 202, 89); 
    color: white;

  }

  .carousel {
    margin-top: 0px; 
  }
  .carousel-item img {
    height: calc(100vh - 70px);  /* locura el css */
    width: 100%;
    object-fit: cover;          
  }



  .carousel-caption {
    bottom: 33%;            /* lo sube o baja */
    text-align: center;     /* centra el texto */
  }

  .carousel-caption h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8); /* efecto de sombra */
  }

  .carousel-caption p {
    font-size: 1.2rem;
    font-weight: 400;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
  }
